@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500,700&display=swap");
*, *::after, *::before { box-sizing: inherit; }

* { font: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr { margin: 0; padding: 0; border: 0; }

html { box-sizing: border-box; scroll-behavior: smooth; }

body { background-color: var(--color-bg, white); }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, form legend { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

button, input, textarea, select { margin: 0; }

.btn, .form-control, .link, .reset { background-color: transparent; padding: 0; border: 0; border-radius: 0; color: inherit; line-height: inherit; appearance: none; }

select.form-control::-ms-expand { display: none; }

textarea { resize: vertical; overflow: auto; vertical-align: top; }

input::-ms-clear { display: none; }

table { border-collapse: collapse; border-spacing: 0; }

img, video, svg { max-width: 100%; }

header, main, article, section, footer { grid-column: span 12; }

header { z-index: 1; }

#toTop { scroll-behavior: smooth; }

.disable { cursor: not-allowed; }

img, svg { width: 100%; height: auto; }

:root { --color-primary-lighter: rgb(19, 172, 180); --color-primary-light: rgb(14, 128, 134); --color-primary: rgb(9, 84, 88); --color-primary-dark: rgb(4, 40, 42); --color-primary-darker: rgb(0, 0, 0); --color-accent-lighter: rgb(238, 159, 145); --color-accent-light: rgb(231, 120, 101); --color-accent: rgb(224, 82, 56); --color-accent-dark: rgb(199, 56, 31); --color-accent-darker: rgb(154, 44, 24); --color-black: rgb(0, 0, 0); --color-white: rgb(255, 255, 255); --color-bg: var(--color-white); --color-contrast-lower: rgb(242, 242, 242); --color-contrast-low: rgb(211, 211, 211); --color-contrast-medium: rgb(121, 121, 121); --color-contrast-high: rgb(49, 49, 49); --color-contrast-higher: rgb(34, 34, 34); --color-success-lighter: rgb(190, 223, 164); --color-success-light: rgb(163, 210, 127); --color-success: rgb(136, 197, 89); --color-success-dark: rgb(110, 174, 61); --color-success-darker: rgb(86, 136, 48); --color-error-lighter: rgb(237, 126, 146); --color-error-light: rgb(230, 81, 108); --color-error: rgb(224, 36, 71); --color-error-dark: rgb(183, 26, 55); --color-error-darker: rgb(138, 20, 42); --color-warning-lighter: rgb(255, 232, 158); --color-warning-light: rgb(255, 220, 107); --color-warning: rgb(255, 209, 56); --color-warning-dark: rgb(255, 197, 5); --color-warning-darker: rgb(209, 160, 0); }

:root { --breakpoint-xs: 32rem; --breakpoint-sm: 48rem; --breakpoint-md: 64rem; --breakpoint-lg: 80rem; --breakpoint-xl: 90rem; /* layout width */ --width-xs: 32rem; /* ~512px */ --width-sm: 48rem; /* ~768px */ --width-md: 64rem; /* ~1024px */ --width-lg: 80rem; /* ~1280px */ --width-xl: 90rem; /* ~1440px */ }

:root { /* spacing */ --space-unit: 1em; --space-xxxxs: calc(0.125 * var(--space-unit)); --space-xxxs: calc(0.25 * var(--space-unit)); --space-xxs: calc(0.375 * var(--space-unit)); --space-xs: calc(0.5 * var(--space-unit)); --space-sm: calc(0.75 * var(--space-unit)); --space-md: calc(1.25 * var(--space-unit)); --space-lg: calc(2 * var(--space-unit)); --space-xl: calc(3.25 * var(--space-unit)); --space-xxl: calc(5.25 * var(--space-unit)); --space-xxxl: calc(8.5 * var(--space-unit)); --space-xxxxl: calc(13.75 * var(--space-unit)); --component-padding: var(--space-md); }

.grid-main { display: grid; grid-template-columns: repeat(12, minmax(25px, 8.3333%)); }

.grid-full { display: grid; grid-template-columns: repeat(12, minmax(0, 8.3333%)); }

.grid-lg { display: grid; grid-template-columns: repeat(10, minmax(0, 10%)); }

.grid-md { display: grid; grid-template-columns: repeat(8, minmax(0, 12.5%)); }

.grid-sm { display: grid; grid-template-columns: repeat(6, minmax(0, 16.6666%)); }

.grid-only { display: grid; }

.flex { display: flex; }

.flex-column { flex-direction: column; }

.flex-reverse { flex-direction: row-reverse; }

:root { --radius-sm: calc(var(--radius, 0.25em)/2); --radius-md: var(--radius, 0.25em); --radius-lg: calc(var(--radius, 0.25em)*2); --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275); --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1); --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19); --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1); }

:root { --font-primary: 'Roboto', sans-serif; --font-secondary: serif; --font-mono: 'Roboto Mono', monospace; /* set base values */ --text-base: 1rem; --text-scale-ratio: 1.2; /* text weight */ --text-light: 300; --text-regular: 400; --text-medium: 500; --text-bold: 700; /* type scale */ --text-xs: calc(var(--text-sm) / var(--text-scale-ratio)); --text-sm: calc(var(--text-base) / var(--text-scale-ratio)); --text-md: calc(var(--text-base) * var(--text-scale-ratio)); --text-lg: calc(var(--text-md) * var(--text-scale-ratio)); --text-xl: calc(var(--text-lg) * var(--text-scale-ratio)); --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio)); --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio)); --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio)); /* type scale display */ --text-display-4: calc(var(--text-xxxxl) * var(--text-scale-ratio)); --text-display-3: calc(var(--text-display-4) * var(--text-scale-ratio)); --text-display-2: calc(var(--text-display-3) * var(--text-scale-ratio)); --text-display-1: calc(var(--text-display-2) * var(--text-scale-ratio)); /* line-height */ --heading-line-height: 1; --body-line-height: 1.5; /* letter-spacing */ /* Displays - h1 */ --letter-spacing-xs: -1.5px; /* h2 */ --letter-spacing-sm: -0.5px; /* Subtitle 2 */ --letter-spacing-md: 0.1px; /* Subtitle 1 - h6 */ --letter-spacing-lg: 0.15px; /* h4 */ --letter-spacing-xl: 0.25px; /* Sub-Body - Caption */ --letter-spacing-xxl: 0.4px; /* Paragraph */ --letter-spacing-xxxl: 0.5px; /* Button */ --letter-spacing-xxxxl: 1.25px; /* Overline */ --letter-spacing-xxxxxl: 1.5px; }

html { -webkit-text-size-adjust: 100%; }

body { font-family: var(--font-primary); font-size: var(--text-base); font-weight: var(--text-regular); text-align: left; }

.display-1 { font-size: var(--text-display-1); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-xs); }

.display-2 { font-size: var(--text-display-2); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-xs); }

.display-3 { font-size: var(--text-display-3); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-xs); }

.display-4 { font-size: var(--text-display-4); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-xs); }

h1, h2, h3, h4, h5, h6 { line-height: var(--heading-line-height); }

h1, .text-xxxxl { font-size: var(--text-xxxxl); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-xs); }

h2, .text-xxxl { font-size: var(--text-xxxl); font-weight: var(--text-light); letter-spacing: var(--letter-spacing-sm); }

h3, .text-xxl { font-size: var(--text-xxl); font-weight: var(--text-regular); }

h4, .text-xl { font-size: var(--text-xl); font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-lg); }

h5, .text-lg { font-size: var(--text-lg); font-weight: var(--text-regular); }

h6, .text-md { font-size: var(--text-md); font-weight: var(--text-medium); letter-spacing: var(--letter-spacing-lg); }

.subtitle-1 { font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-lg); }

.subtitle-2 { font-size: var(--text-sm); font-weight: var(--text-medium); letter-spacing: var(--letter-spacing-md); }

p, code { letter-spacing: var(--letter-spacing-xxxl); line-height: var(--body-line-height); }

.sub-body { font-size: var(--text-sm); font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-xl); }

button { font-size: var(--text-sm); font-weight: var(--text-medium); letter-spacing: var(--letter-spacing-xxxxl); text-transform: uppercase; }

caption, figcaption { font-size: var(--text-sm); font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-xxl); }

.overline { font-size: var(--text-sm); font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-xxxxxl); text-transform: uppercase; }

/* LINK */
a, .link { font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-xxxl); text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { text-decoration: none; }

/* LIST */
ul li, ol li { line-height: var(--body-line-height); }

ul, ol { list-style-position: outside; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

/* INLINE */
b, strong { font-weight: var(--text-bold); }

small { font-size: var(--text-sm); font-weight: var(--text-regular); letter-spacing: var(--letter-spacing-xxxxxl); }

i, em { font-style: italic; }

u { text-decoration: underline; }

sup, sub { font-size: var(--text-xs); font-weight: var(--text-medium); letter-spacing: var(--letter-spacing-xxxl); }

kbd { padding: 0.2rem 0.4rem; font-size: var(--text-sm); border-radius: 0.2rem; }

kbd kbd { font-size: 100%; font-weight: var(--text-bold); }

hr { display: block; margin-top: calc(var(--space-unit) * 1.5); margin-bottom: calc(var(--space-unit) * 1.5); margin-left: auto; margin-right: auto; width: 100%; height: .1rem; background-color: var(--color-contrast-low); }

/* TAGS */
address { font-style: normal; line-height: inherit; }

cite { font-style: italic; }

cite::before { content: '\2014'; }

blockquote { font-size: var(--text-lg); }

blockquote q::before { content: '\201C'; }

blockquote q::after { content: '\201D'; }

blockquote q::before, blockquote q::after { font-size: var(--text-xl); font-weight: var(--text-bold); }

blockquote cite { display: block; text-align: right; font-style: normal; font-size: var(--text-base); }

code { font-family: var(--font-mono); font-size: var(--text-sm); word-wrap: break-word; }

pre { font-size: var(--text-sm); }

pre code { font-size: inherit; word-break: normal; }

.pre-scroll { overflow-y: scroll; }

/* FORM */
label { font-size: var(--text-md); font-weight: var(--text-medium); letter-spacing: var(--letter-spacing-lg); }

legend { font-size: var(--text-lg); line-height: inherit; white-space: normal; }

input, select option, textarea, datalist option, output { letter-spacing: var(--letter-spacing-xxxl); line-height: var(--body-line-height); }

th { font-size: var(--text-md); }

td { font-size: var(--text-base); }

th, td { letter-spacing: var(--letter-spacing-xxxl); }

/* UTiILITY CLASSESS */
.truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.text-monospace { font-family: var(--font-mono); }

.text-justify { text-align: justify !important; }

.text-wrap { white-space: normal !important; }

.text-nowrap { white-space: nowrap !important; }

.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }

:root { --btn-font-size: 1em; --btn-font-size-sm: 0.8em; --btn-font-size-md: 1.2em; --btn-font-size-lg: 1.4em; --btn-padding-x: var(--space-md); --btn-padding-y: var(--space-xs); --btn-radius: 0.25em; }

.btn { position: relative; display: inline-flex; justify-content: center; align-items: center; cursor: pointer; white-space: nowrap; text-decoration: none; line-height: 1; font-size: var(--btn-font-size); padding: var(--btn-padding-y) var(--btn-padding-x); border-radius: var(--btn-radius); -webkit-border-radius: var(--btn-radius); -moz-border-radius: var(--btn-radius); -ms-border-radius: var(--btn-radius); -o-border-radius: var(--btn-radius); transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; box-shadow: 0px 2px 8px 0 var(--color-black), 0.12, 0px 1px 1px 0 var(--color-black), 0.12; }

.btn:hover { box-shadow: 0px 1px 2px 0 var(--color-black), 0.12, 0px 1px 1px 0 var(--color-black), 0.12; text-decoration: none; }

.btn:focus { box-shadow: 0px 0px 0px 2px var(--color-black), 0.2; outline: none; }

.btn:active { transform: translateY(2px); }

.btn-primary { background-color: var(--color-primary); color: var(--color-white); }

.btn-primary:hover { background-color: var(--color-primary-dark); }

.btn-primary:focus { box-shadow: 0px 0px 0px 2px var(--color-primary), 0.2; }

.btn-sm { font-size: var(--btn-font-size-sm); }

.btn-md { font-size: var(--btn-font-size-md); }

.btn-lg { font-size: var(--btn-font-size-lg); }

:root { --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); --shadow-transition: all 0.3s cubic-bezier(.25, .8, .25, 1); --shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-1, .shadow-2, .shadow-3, .shadow-4, .shadow-5 { transition: var(--shadow-transition); }

.shadow-1 { box-shadow: var(--shadow-1); }

.shadow-2 { box-shadow: var(--shadow-2); }

.shadow-3 { box-shadow: var(--shadow-3); }

.shadow-4 { box-shadow: var(--shadow-4); }

.shadow-5 { box-shadow: var(--shadow-5); }

.shadow-hover:hover { box-shadow: var(--shadow-hover); }

.shadow-radius { border-radius: 1.6rem; -webkit-border-radius: 1.6rem; -moz-border-radius: 1.6rem; -ms-border-radius: 1.6rem; -o-border-radius: 1.6rem; }

:root { --zindex-header: 2; --zindex-popover: 5; --zindex-fixed-element: 10; --zindex-overlay: 15; --zindex-overlay-absolute: 20; }

/*
@import 'base/grid-layout';
@import 'base/icons';
@import 'base/forms';
@import 'base/rotate';
@import 'base/visibility';
@import 'base/accessibility';
@import 'base/util';
*/
/* navigation */
nav { display: flex; justify-content: space-between; align-items: center; min-height: 10vh; background-color: var(--color-white); padding: 0 var(--space-xl); }

nav .btn:hover { color: var(--color-white); }

.logo { fill: var(--color-black); width: 8rem; height: auto; }

.nav-links { display: flex; justify-content: flex-end; align-items: center; width: 60%; }

.nav-links li { list-style: none; display: flex; margin-left: var(--space-lg); }

.nav-links li:hover { list-style: none; display: flex; }

.link { position: relative; color: var(--color-black); }

.link:hover { color: var(--color-primary); text-decoration: none; }

.link::before { content: ""; position: absolute; width: 100%; height: 1.8px; bottom: -1px; left: 0; background-color: var(--color-primary); visibility: hidden; transform: scaleX(0); transition: all 0.3s ease-in-out 0s; }

.link:hover::before { visibility: visible; height: 1.8px; transform: scaleX(1); }

.link .active { position: absolute; width: 100%; height: 1.8px; bottom: -1px; left: 0; background-color: var(--color-primary); visibility: hidden; transform: scaleX(1); }

.active { color: var(--color-primary); border-bottom: 1.8px solid var(--color-primary); }

.active:hover { text-decoration: none; }

.nav-divider { height: 1rem; width: 2px; background-color: var(--color-contrast-low); margin: 0 var(--space-xs); }

.burger { display: none; }

.burger div { background-color: var(--color-black); width: 1.5rem; height: .2rem; margin: .3rem; cursor: pointer; transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; }

@media only screen and (max-width: 48rem) { /* navigation */
  nav { justify-content: space-between; padding: 0 var(--space-lg); height: 8vh; }
  .burger { display: block; }
  .nav-links { display: flex; position: absolute; top: 9.9vh; left: 0; min-height: 40.1vh; min-width: 100%; overflow-x: hidden; background-color: var(--color-contrast-lower); flex-direction: column; align-items: flex-start; transform: translateY(-100%); -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); transition: transform .5s ease-in; -webkit-transition: transform .5s ease-in; -moz-transition: transform .5s ease-in; -ms-transition: transform .5s ease-in; -o-transition: transform .5s ease-in; z-index: -1; }
  .nav-links li { opacity: 0; width: 100%; padding: var(--space-md); margin-left: var(--space-lg); }
  .nav-links li:nth-child(5) { display: none; }
  .nav-active { width: 100%; transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); } }

@media only screen and (max-width: 64rem) { .nav-links { width: 100%; }
  .nav-links li { margin-left: var(--space-md); }
  .nav-divider { height: 1rem; width: 2px; background-color: var(--color-contrast-low); margin: 0 var(--space-xs); } }

@keyframes navLinkFade { from { opacity: 0;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px); }
  to { opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

.toggle-burger .line1 { transform: rotate(-45deg) translate(-5px, 6px); -webkit-transform: rotate(-45deg) translate(-5px, 6px); -moz-transform: rotate(-45deg) translate(-5px, 6px); -ms-transform: rotate(-45deg) translate(-5px, 6px); -o-transform: rotate(-45deg) translate(-5px, 6px); }

.toggle-burger .line2 { opacity: 0; }

.toggle-burger .line3 { transform: rotate(45deg) translate(-5px, -6px); -webkit-transform: rotate(45deg) translate(-5px, -6px); -moz-transform: rotate(45deg) translate(-5px, -6px); -ms-transform: rotate(45deg) translate(-5px, -6px); -o-transform: rotate(45deg) translate(-5px, -6px); }

.img-bg { grid-column: span 12; min-height: 90vh; background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/beach-2500x1667-xxl2.jpg") no-repeat; background-size: cover; }

.hero-img-txt { grid-column: 2 / span 6; justify-content: center; align-content: flex-start; align-items: flex-start; }

.hero-img-txt h1, .hero-img-txt p { color: var(--color-white); }

.hero-img-txt h1 { font-size: var(--text-display-1); font-weight: var(--text-bold); margin: var(--space-xxxs) 0; text-transform: uppercase; line-height: .85; text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); }

.hero-img-txt p { font-size: var(--text-lg); line-height: 1; margin: var(--space-xs) 0 var(--space-md); text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25); }

.hero-img-txt .btn { background-color: var(--color-white); color: var(--color-black); opacity: .8; transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; }

.hero-img-txt .btn:hover { opacity: 1; }

.current-weather { grid-column: 9 / span 3; justify-content: center; }

.current-weather > div { min-height: 0; width: 100%; background-color: var(--color-white); border: 2px solid var(--color-white); padding: var(--component-padding); border-radius: var(--radius-sm); -webkit-border-radius: var(--radius-sm); -moz-border-radius: var(--radius-sm); -ms-border-radius: var(--radius-sm); -o-border-radius: var(--radius-sm); }

.current-weather span { font-size: var(--text-md); text-align: center; width: 100%; padding: var(--space-xxxs) 0; }

.current-weather .weatherInfo div:nth-child(1) { grid-column: span 2; grid-row: 1 / 4; justify-content: flex-end; align-items: center; }

.current-weather #weatherImg { max-width: 6rem; height: auto; }

.current-weather #weatherDes, .current-weather #current-temp, .current-weather #humidity { grid-column: span 4; }

.current-weather #weatherDes { text-transform: capitalize; }

.current-weather img { filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3)); -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3)); }

.lineDivider { grid-column: span 12; fill: var(--color-white); align-items: flex-end; margin-bottom: -1px; }

@media only screen and (max-width: 80rem) { .img-bg { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/beach-1440x960-xl2.jpg") no-repeat; } }

@media only screen and (max-width: 64rem) { .img-bg { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/beach-1280x853-lg2.jpg") no-repeat; min-height: 650px; }
  .hero-img-txt { grid-column: span 7; padding: var(--component-padding); }
  .hero-img-txt h1 { font-size: var(--text-display-3); }
  .current-weather { grid-column: span 5; padding: var(--component-padding); } }

@media only screen and (max-width: 48rem) { .img-bg { background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/beach-1024x683-md2.jpg") no-repeat; }
  .hero-img-txt { grid-column: span 12; padding: 0 var(--component-padding); }
  .hero-img-txt h1 { font-size: var(--text-display-3); }
  .current-weather { grid-column: span 12; padding: 0 var(--component-padding); } }

@media only screen and (max-width: 32rem) { .hero-img-txt h1 { font-size: var(--text-xxxxl); }
  .hero-img-txt p { font-size: var(--text-md); } }

.toTop { position: fixed; right: var(--space-md); bottom: var(--space-xxl); z-index: var(--zindex-fixed-element); opacity: 0; transition: all .3s; -webkit-transition: all .3s; -moz-transition: all .3s; -ms-transition: all .3s; -o-transition: all .3s; }

.toTop svg { width: 2.8rem; filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)); transition: .2s; -webkit-transition: .2s; -moz-transition: .2s; -ms-transition: .2s; -o-transition: .2s; }

.toTop svg .blob { fill: var(--color-primary); }

.toTop svg .arrow { fill: var(--color-white); transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); }

.toTop svg:hover { transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); }

.show { opacity: 1; }

main section { margin-top: var(--space-xxxl); }

main section .rental { grid-column: 2 / span 10; gap: var(--space-md); }

main section .rental h2 { grid-column: span 12; margin-bottom: var(--space-xs); }

main section .rental div:nth-child(-n+4) { grid-column: span 4; height: var(--space-md) 0; align-items: center; border: 0.1rem solid var(--color-contrast-low); border-radius: var(--radius-sm); -webkit-border-radius: var(--radius-sm); -moz-border-radius: var(--radius-sm); -ms-border-radius: var(--radius-sm); -o-border-radius: var(--radius-sm); transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; box-shadow: var(--shadow-1); }

main section .rental div:nth-child(-n+4):hover { border-color: var(--color-primary); box-shadow: var(--shadow-2); }

main section .rental div:nth-child(-n+4) div { width: 100%; border: 0; }

main section .rental div:nth-child(-n+4) h3 { padding: var(--space-xs) 0; text-align: center; background-color: var(--color-primary); color: var(--color-white); font-weight: var(--text-bold); }

main section .rental div:nth-child(-n+4) span { margin: var(--space-xxxs) 0; padding: var(--space-md); }

main section .rental div:nth-child(n+5) { grid-column: span 12; align-items: center; }

main section .rental a { margin: var(--space-md) var(--space-md) 0 0; }

@media only screen and (max-width: 64rem) { main section .rental div:nth-child(-n+4) { grid-column: span 6; } }

@media only screen and (max-width: 48rem) { main section .rental div:nth-child(-n+4) { grid-column: span 12; } }

.forecast { grid-column: 4 / span 6; margin-top: var(--space-lg); padding: var(--component-padding); }

.forecast .day { justify-content: space-between; text-align: center; font-size: var(--text-md); }

.forecast h2 { text-align: center; }

.forecast ul { margin-top: var(--space-xl); list-style: none; }

.forecast img { max-width: 4rem; filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3)); -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3)); }

@media only screen and (max-width: 64rem) { .forecast { grid-column: 3 / span 8; } }

@media only screen and (max-width: 48rem) { .forecast { grid-column: span 12; } }

.tours article { grid-column: 3 / span 8; margin-top: var(--space-xxxl); }

.tours article h2 { margin: var(--space-lg) 0 var(--space-sm); }

.tours article .right { float: right; margin: 0 0 var(--space-sm) var(--space-md); }

.tours article .left { float: left; margin: 0 var(--space-md) var(--space-sm) 0; }

.tours article .right, .tours article .left { max-width: 540px; height: auto; }

.tours article p { text-indent: var(--space-md); margin-bottom: var(--space-sm); }

.tours article .facts { gap: 2rem; }

.tours article .facts p { grid-column: span 3; }

@media only screen and (max-width: 80rem) { .tours article .right, .tours article .left { max-width: 420px; } }

@media only screen and (max-width: 64rem) { .tours article { grid-column: 2 / span 10; } }

@media only screen and (max-width: 48rem) { .tours article { grid-column: 2 / span 10; }
  .tours article .right, .tours article .left { float: none; margin: 0; max-width: 100%; }
  .tours article p { margin-top: var(--space-md); }
  .tours article .facts p { grid-column: span 6; } }

.product { margin-top: var(--space-xxxl); }

.product > h1, .product > p { grid-column: 2 / span 10; }

.product section { grid-column: span 12; margin-top: 0; }

.productInfo { gap: var(--space-lg); margin-top: var(--space-xxl); }

.productInfo img { grid-column: 2 / span 5; }

.productInfo > div { grid-column: 7 / span 5; }

.productInfo h2 { margin-bottom: var(--space-xs); }

.productInfo .grid-sm p { grid-column: span 6; margin: var(--space-xs) 0; font-size: var(--text-lg); text-align: center; background-color: var(--color-primary); color: var(--color-white); }

.productInfo .grid-sm span { grid-column: span 3; margin: var(--space-xs) 0; }

.infoServices { margin-top: var(--space-xxl); }

.infoServices p { grid-column: 2 / span 10; margin: var(--space-xs) 0; font-size: var(--text-lg); text-align: center; background-color: var(--color-primary); color: var(--color-white); }

.infoServices > div:nth-child(2) { grid-column: 2 / span 5; }

.infoServices > div:nth-child(3) { grid-column: 7 / span 5; }

.infoServices div { margin-top: var(--space-md); padding: var(--component-padding); }

.infoServices div ul { list-style-position: inside; }

@media only screen and (max-width: 64rem) { .productInfo img { grid-column: 2 / span 4; }
  .productInfo > div { grid-column: 6 / span 6; }
  .productInfo h2 { font-size: var(--text-xxl); }
  .infoServices > div:nth-child(2) { grid-column: 2 / span 10; }
  .infoServices > div:nth-child(3) { grid-column: 2 / span 10; } }

@media only screen and (max-width: 48rem) { .productInfo img, .productInfo > div { grid-column: 2 / span 10; }
  .productInfo h2 { font-size: var(--text-xl); } }

form { grid-column: 2 / span 5; font-size: var(--text-md); margin: var(--space-xxxl) auto 0; max-width: var(--width-xs); }

form p { margin-bottom: var(--space-xs); }

form span { color: var(--color-error); }

form input[type="submit"] { margin-top: var(--space-lg); }

.contact { padding: 0 var(--component-padding); }

.map-info { grid-column: 7 / span 5; margin: var(--space-xxxxl) 0; }

.map-info iframe { width: 100%; height: 100%; }

.map-info address { gap: 1rem; padding: var(--component-padding); }

.map-info address div { grid-column: span 3; }

.customerInfo { grid-column: 2 / span 10; max-width: var(--width-xs); }

.vehicleInfo { grid-column: 2 / span 10; max-width: var(--width-xs); margin-top: var(--space-xl); padding: var(--component-padding); border: 0.1rem solid var(--color-contrast-low); border-radius: var(--radius-md); -webkit-border-radius: var(--radius-md); -moz-border-radius: var(--radius-md); -ms-border-radius: var(--radius-md); -o-border-radius: var(--radius-md); }

.vehicleInfo h2 { font-size: var(--text-lg); }

.vehicleInfo h3 { margin-top: var(--space-md); font-size: var(--text-md); }

.vehicleInfo #amount { color: var(--color-black); margin-top: var(--space-xs); }

.vehicleInfo p { grid-column: 2 / span 10; margin: var(--space-xs) 0; font-size: var(--text-lg); text-align: center; background-color: var(--color-primary); color: var(--color-white); }

.vehicleInfo div { margin-top: var(--space-md); padding: var(--component-padding); }

.vehicleInfo div ul { font-size: var(--text-sm); list-style-position: inside; }

.vehicleInfo label { font-size: var(--text-sm); align-items: center; }

.vehicleInfo label input[type="checkbox"] { width: 50px; box-shadow: none; transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); }

fieldset { margin-bottom: var(--space-lg); padding: 0; border: 0; }

fieldset label { margin-bottom: var(--space-md); }

input, textarea, select { width: 100%; margin-top: var(--space-xs); padding: var(--space-xs); border: 2px solid var(--color-contrast-low); transition: .3s; border-radius: 0.25rem; -webkit-border-radius: 0.25rem; -moz-border-radius: 0.25rem; -ms-border-radius: 0.25rem; -o-border-radius: 0.25rem; }

input::placeholder, textarea::placeholder, select::placeholder { opacity: 1; color: var(--color-contrast-medium); }

input:focus, textarea:focus, select:focus { outline: none; border-color: var(--color-primary); box-shadow: 0px 0px 0px 2px #0e8086; }

#rating { position: relative; top: var(--space-sm); margin-right: var(--space-md); width: 75%; }

#ratingValue, #rangeMarks { font-size: var(--text-lg); color: var(--color-black); }

input[type="range"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-color: transparent; border: 0; }

input[type="range"]::-webkit-slider-runnable-track { -webkit-appearance: none; appearance: none; height: .5rem; background: var(--color-contrast-low); border-radius: .5rem; -webkit-border-radius: .5rem; -moz-border-radius: .5rem; -ms-border-radius: .5rem; -o-border-radius: .5rem; }

input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; border: 2px solid var(--color-primary); border-radius: 50%; height: 1.25rem; width: 1.25rem; position: relative; bottom: 6px; background-color: var(--color-primary-light); box-shadow: var(--shadow-2); cursor: grab; transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; }

input[type="range"]::-webkit-slider-thumb:hover { height: 1.375rem; width: 1.375rem; bottom: 7px; }

input[type=radio] { position: relative; top: var(--space-xxxs); left: 0; height: 1.5rem; width: 1.5rem; margin: 0 var(--space-sm) 0 0; background-color: var(--color-contrast-low); }

textarea { resize: vertical; min-height: 5rem; }

@media only screen and (max-width: 80rem) { .map-info address div { grid-column: span 6; } }

@media only screen and (max-width: 64rem) { form { grid-column: 3 / span 8; margin: var(--space-xl) 0; max-width: var(--width-sm); }
  .map-info { grid-column: 3 / span 8; margin: var(--space-xl) 0; }
  .map-info iframe { height: 420px; }
  .map-info address div { grid-column: span 6; }
  .customerInfo, .vehicleInfo { grid-column: 3 / span 8; max-width: var(--width-sm); } }

@media only screen and (max-width: 48rem) { form { grid-column: span 12; margin-top: var(--space-xl); max-width: 100%; }
  .map-info { grid-column: span 12; padding: var(--component-padding); }
  .map-info address div { grid-column: span 6; }
  .customerInfo, .vehicleInfo { padding: var(--component-padding); grid-column: span 12; } }

.thanks-bg { grid-column: span 12; min-height: 90vh; background-color: var(--color-primary); }

.hero-thanks { grid-column: 2 / span 10; justify-content: center; align-content: center; align-items: center; }

.hero-thanks h1, .hero-thanks p { color: var(--color-white); }

.hero-thanks h1 { font-size: var(--text-display-1); font-weight: var(--text-bold); margin: var(--space-xxxs) 0; text-transform: uppercase; line-height: .85; text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); }

.hero-thanks p { font-size: var(--text-lg); line-height: 1; margin: var(--space-xs) 0 var(--space-md); text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25); text-align: center; }

.hero-thanks .btn { background-color: var(--color-white); color: var(--color-black); opacity: .8; transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; }

.hero-thanks .btn:hover { opacity: 1; }

.hero-thanks svg { width: 15rem; }

.st1 { fill: #3c2a34; }

.st2 { fill: #fffaef; }

.st3 { fill: #f4efd7; }

.st4 { fill: #f58981; }

.st5 { fill: #fff; }

.st6 { fill: #6e7c7d; }

.st7 { fill: #dbeccc; }

.st8 { fill: #df9fa1; }

@media only screen and (max-width: 64rem) { .hero-thanks { grid-column: 2 / span 10; padding: var(--component-padding); }
  .hero-thanks h1 { font-size: var(--text-display-3); } }

@media only screen and (max-width: 48rem) { .hero-thanks { grid-column: span 12; padding: 0 var(--component-padding); }
  .hero-thanks h1 { font-size: var(--text-display-3); } }

@media only screen and (max-width: 32rem) { .hero-thanks h1 { font-size: var(--text-xxxxl); }
  .hero-thanks p { font-size: var(--text-md); } }

footer { background-color: var(--color-contrast-lower); padding: var(--space-xl) var(--component-padding) var(--component-padding); margin-top: var(--space-xxxl); }

footer .logo { grid-column: span 5; }

footer .logo svg { max-width: 18rem; }

footer > ul { grid-column: span 2; list-style: none; }

footer > ul li { margin: var(--space-sm) 0; }

footer > ul li:first-of-type { font-size: var(--text-lg); font-weight: var(--text-bold); }

footer address { grid-column: span 3; margin-top: var(--space-md); }

footer address span { display: block; }

footer address > span:first-of-type { font-size: var(--text-lg); font-weight: var(--text-bold); }

footer address div { margin-top: var(--space-sm); }

footer address div span:first-of-type { font-weight: var(--text-bold); }

footer .footer-base { justify-content: space-between; flex-direction: row; grid-column: span 12; border-top: 0.05rem solid var(--color-contrast-medium); margin-top: var(--space-xxl); padding-top: var(--space-md); font-size: var(--text-sm); }

footer .footer-base ul { list-style: none; }

footer .footer-base ul li { margin-left: var(--space-sm); }

footer .footer-base ul li svg { width: 1.2rem; margin: 0 var(--space-xs); fill: var(--color-contrast-medium); transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; }

footer .footer-base ul li svg:hover { fill: var(--color-primary); cursor: pointer; }

footer .footer-base .link::before { height: 1.6px; }

footer .footer-base .link:hover::before { height: 1.6px; }

footer .link::before { height: 1.8px; }

footer .link:hover::before { height: 1.8px; }

footer .update { grid-column: span 12; background-color: var(--color-contrast-medium); margin: var(--space-xxs) -20px -20px; color: var(--color-white); text-align: center; padding: var(--space-xxs) 0; }

@media only screen and (max-width: 64rem) { footer .logo { grid-column: span 12; }
  footer > ul { grid-column: span 3; }
  footer address { grid-column: span 6; }
  footer .footer-base { align-items: center; flex-direction: column; }
  footer .footer-base ul { margin-top: var(--space-sm); }
  footer .footer-base ul li { margin: 0 var(--space-sm); text-align: center; } }

@media only screen and (max-width: 32rem) { footer { margin-top: var(--space-xl); }
  footer .logo { grid-column: span 12; }
  footer > ul { grid-column: span 12; }
  footer address { grid-column: span 12; } }

.error-bg { grid-column: span 12; min-height: 90vh; background-color: var(--color-accent); }

.hero-error { grid-column: 2 / span 10; justify-content: center; align-content: center; align-items: center; }

.hero-error h1, .hero-error p { color: var(--color-white); }

.hero-error h1 { font-size: var(--text-display-1); font-weight: var(--text-bold); margin: var(--space-xxxs) 0; text-transform: uppercase; line-height: .85; text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25); }

.hero-error p { font-size: var(--text-lg); line-height: 1; margin: var(--space-xs) 0 var(--space-md); text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25); text-align: center; }

.hero-error .btn { background-color: var(--color-white); color: var(--color-black); opacity: .8; transition: .3s; -webkit-transition: .3s; -moz-transition: .3s; -ms-transition: .3s; -o-transition: .3s; }

.hero-error .btn:hover { opacity: 1; }

.hero-error svg { width: 15rem; }

.st1 { fill: #3c2a34; }

.st2 { fill: #fffaef; }

.st3 { fill: #f4efd7; }

.st4 { fill: #f58981; }

.st5 { fill: #fff; }

.st6 { fill: #6e7c7d; }

.st7 { fill: #dbeccc; }

.st8 { fill: #df9fa1; }

@media only screen and (max-width: 64rem) { .hero-error { grid-column: 2 / span 10; padding: var(--component-padding); }
  .hero-error h1 { font-size: var(--text-display-3); } }

@media only screen and (max-width: 48rem) { .hero-error { grid-column: span 12; padding: 0 var(--component-padding); }
  .hero-error h1 { font-size: var(--text-display-3); } }

@media only screen and (max-width: 32rem) { .hero-error h1 { font-size: var(--text-xxxxl); }
  .hero-error p { font-size: var(--text-md); } }

.resources { margin-top: var(--space-xxxl); padding: var(--component-padding); gap: var(--component-padding); }

.resources div { grid-column: span 4; }

.resources div * { display: block; margin-top: var(--space-sm); }

@media only screen and (max-width: 64rem) { .resources div { grid-column: span 6; } }

@media only screen and (max-width: 48rem) { .resources div { grid-column: span 12; } }
