// hero image
.error-bg {
    grid-column: span 12;
    min-height: 90vh;
    background-color: var(--color-accent);
}

.hero-error {
    grid-column: 2 / span 10;
    justify-content: center;
    align-content: center;
    align-items: center;

    h1,
    p {
        color: var(--color-white);
    }

    h1 {
        font-size: var(--text-display-1);
        font-weight: var(--text-bold);
        margin: var(--space-xxxs) 0;
        text-transform: uppercase;
        line-height: .85;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }

    p {
        font-size: var(--text-lg);
        line-height: 1;
        margin: var(--space-xs) 0 var(--space-md);
        text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    .btn {
        background-color: var(--color-white);
        color: var(--color-black);
        opacity: .8;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;

        &:hover {
            opacity: 1;
        }
    }

    svg {
        width: 15rem;
    }
}

.st1 {
    fill: #3c2a34
}

.st2 {
    fill: #fffaef
}

.st3 {
    fill: #f4efd7
}

.st4 {
    fill: #f58981
}

.st5 {
    fill: #fff
}

.st6 {
    fill: #6e7c7d
}

.st7 {
    fill: #dbeccc
}

.st8 {
    fill: #df9fa1
}


@media only screen and (max-width: 64rem) {

    .hero-error {
        grid-column: 2 / span 10;
        padding: var(--component-padding);

        h1 {
            font-size: var(--text-display-3);
        }
    }
}

@media only screen and (max-width: 48rem) {

    .hero-error {
        grid-column: span 12;
        padding: 0 var(--component-padding);

        h1 {
            font-size: var(--text-display-3);
        }
    }

}

@media only screen and (max-width: 32rem) {

    .hero-error {

        h1 {
            font-size: var(--text-xxxxl);
        }

        p {
            font-size: var(--text-md);
        }
    }
}