.toTop {
    position: fixed;
    right: var(--space-md);
    bottom: var(--space-xxl);
    z-index: var(--zindex-fixed-element);
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;

    svg {
        width: 2.8rem;
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
        -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;


        .blob {
            fill: var(--color-primary);
        }

        .arrow {
            fill: var(--color-white);
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }

        &:hover {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }
    }
}

.show {
    opacity: 1;
}