:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    /* set base values */
    --text-base: 1rem;
    --text-scale-ratio: 1.2;

    /* text weight */
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;

    /* type scale */
    --text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-base) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));

    /* color */
    --color-primary-lighter: rgb(102, 163, 255);
    --color-primary-light: rgb(51, 133, 255);
    --color-primary: rgb(0, 102, 255);
    --color-primary-dark: rgb(0, 82, 204);
    --color-primary-darker: rgb(0, 61, 153);

    --color-accent-lighter: rgb(255, 174, 174);
    --color-accent-light: rgb(254, 123, 123);
    --color-accent: rgb(254, 72, 72);
    --color-accent-dark: rgb(254, 22, 22);
    --color-accent-darker: rgb(223, 1, 1);

    --color-black: rgb(0, 0, 0);

    --color-white: rgb(255, 255, 255);

    --color-bg: var(--color-white);
    --color-contrast-lower: rgb(242, 242, 242);
    --color-contrast-low: rgb(211, 211, 211);
    --color-contrast-medium: rgb(121, 121, 121);
    --color-contrast-high: rgb(49, 49, 49);
    --color-contrast-higher: rgb(34, 34, 34);

    --color-error-lighter: rgb(237, 126, 146);
    --color-error-light: rgb(230, 81, 108);
    --color-error: rgb(224, 36, 71);
    --color-error-dark: rgb(183, 26, 55);
    --color-error-darker: rgb(138, 20, 42);

    /* shadow */
    --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);

    /* spacing */
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);

    /* breakpoints */
    --breakpoint-xs: 32rem;
    /* ~512px */
    --breakpoint-sm: 48rem;
    /* ~768px */
    --breakpoint-md: 64rem;
    /* ~1024px */
    --breakpoint-lg: 80rem;
    /* ~1280px */
    --breakpoint-xl: 90rem;
    /* ~1440px */

    /* layout width */
    --width-xs: 32rem;
    /* ~512px */
    --width-sm: 48rem;
    /* ~768px */
    --width-md: 64rem;
    /* ~1024px */
    --width-lg: 80rem;
    /* ~1280px */
    --width-xl: 90rem;
    /* ~1440px */

}

/********************************************/

html {
    font-size: var(--text-base);
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-black);
}

/* general */

img,
svg {
    width: 100%;
    height: auto;
}

.component-padding {
    padding: var(--component-padding);
}

.component-padding-x {
    padding: 0 var(--component-padding);
}

.component-padding-y {
    padding: var(--component-padding) 0;
}

/* --------------------

// layout

-------------------- */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.grid-full {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 8.33%));
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 8.33%));
}

.grid-gap {
    gap: var(--component-padding);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


/* --------------------

// header

-------------------- */
.notice {
    position: relative;
    text-align: center;
    padding: var(--space-xs);
    background-color: var(--color-primary-lighter);
    color: var(--color-black);
    box-shadow: var(--shadow-1);
    z-index: 2;
}

header {
    background-color: var(--color-primary-darker);
    padding: var(--space-xs) 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.header h1,
.header small {
    color: var(--color-white);
}

.header h1 {
    font-size: var(--text-xxl);
}

.header h1 {
    margin: 0 var(--space-md) 0 var(--space-xs);
}

.header small {
    margin: 0 var(--space-md) 0 var(--space-md);
}

.logo {
    margin: var(--space-md) var(--space-xs) var(--space-md) var(--space-md);
    max-width: 2rem;
    height: auto;
}

.pin {
    fill: var(--color-white);
}

.cloud {
    fill: var(--color-primary);
}

/* --------------------

// navbar

-------------------- */
nav {
    margin: 0 auto;
    max-width: var(--width-md);
    background-color: var(--color-primary);
}

nav ul {
    margin: 0;
}

.nav {
    list-style: none;
    padding: 0;
}

nav ul li.ham {
    display: block;
    font-size: var(--text-lg);
    padding: var(--space-sm) var(--space-md);
}

nav ul li.ham:hover {
    cursor: pointer;
}

.nav li {
    display: none;
    color: var(--color-white);
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    text-transform: uppercase;
}

.nav a {
    display: block;
    padding: var(--space-md) var(--space-lg);
    text-decoration: none;
    color: var(--color-white);
    font-weight: var(--text-bold);
}

nav a:hover {
    color: var(--color-black);
    background-color: var(--color-primary-lighter);
}

.show li {
    display: block;
}

nav a.active {
    color: var(--color-black);
    background-color: var(--color-primary-lighter);
}

/* --------------------

// main

-------------------- */

.hero {
    grid-column: 1 / span 12;
    grid-row: 1;
    position: relative;
    height: 80vh;
    background-color: rgb(127, 191, 255);
}

.lineDivider {
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
}

.content {
    grid-column: 2 / span 10;
    grid-row: 1;
    position: relative;
    z-index: 2;
    margin: var(--space-xl) 0;
}


.mainInfo {
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);
    height: auto;
    margin-bottom: var(--space-xxl);
}

.main-col-left {
    grid-column: span 12;
    padding: var(--component-padding);
    border-right: 0;
}

.main-col-right {
    grid-column: span 12;
    padding: var(--component-padding);
}

.main-col-left h2,
.main-col-right h2 {
    width: 100%;
    margin-bottom: var(--space-xxxs);
}

.main-col-left img,
.main-col-right img {
    margin: var(--space-md) 0;
}

.main-col-left a,
.main-col-right a {
    margin: var(--space-md) 0;
    color: var(--color-primary);
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.main-col-left a:hover,
.main-col-right a:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
}

.currentConditions>span:first-of-type {
    display: block;
    font-size: var(--text-lg);
    text-align: center;
}

.currentConditions .flex img,
.currentConditions .flex span {
    flex: 1 1 100%;
}

.currentConditions img {
    max-width: 5rem;
    margin: var(--space-md) auto;
}

.currentConditions .flex span {
    font-size: var(--text-xxxxl);
    text-align: center;
    margin: var(--space-xs) 0;
}

.currentConditions,
.asideLinks,
.asideArticle {
    grid-column: span 12;
}

.asideLinks,
.asideArticle {
    margin-top: var(--space-md);
    border-top: .1rem solid var(--color-contrast-low);
}

.asideLinks ul {
    list-style: none;
    padding-left: 0;
}


.town {
    grid-column: 6 / span 6;
}

.cards {
    gap: var(--space-md);
}

.cards section {
    grid-column: span 12;
    padding: var(--component-padding);
    box-shadow: var(--shadow-2);
}

.cards h2 {
    margin-bottom: 0;
}

.cards p:first-of-type {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-lg);
    font-style: italic;
    font-size: var(--text-sm);
}

.cards p {
    margin: var(--space-xxs) 0;
}

.cards img {
    margin-top: var(--space-md);
}







a.btn {
    display: block;
    margin: var(--space-lg) 0;
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 0;
    outline: 0;
    max-width: 100%;
    padding: var(--space-sm) var(--space-md);
    text-transform: uppercase;
    font-weight: var(--text-bold);
    text-decoration: none;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.btn:hover {
    background-color: var(--color-primary-light);
}

.btn:active {
    box-shadow: var(--shadow-1);
}

/* --------------------

// footer

-------------------- */
footer {
    background-color: var(--color-primary);
    color: var(--color-white);
}

footer>div {
    max-width: var(--width-md);
    margin: 0 auto;
}

footer div {
    justify-content: space-between;
}

footer a {
    color: var(--color-white);
}

footer a:hover {
    text-decoration: none;
}
