@media only screen and (min-width: 64rem)

/* 1024 */
    {

    main {
        max-width: var(--width-md);
    }

    nav ul {
        max-width: var(--width-md);
        margin-left: auto;
        margin-right: auto;
    }

    .grid div {
        box-shadow: var(--shadow-1);
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .grid div:hover {
        box-shadow: var(--shadow-2);
        transform: scale(1.02, 1.02);
        -webkit-transform: scale(1.02, 1.02);
        -moz-transform: scale(1.02, 1.02);
        -ms-transform: scale(1.02, 1.02);
        -o-transform: scale(1.02, 1.02);
    }
}