@media only screen and (min-width: 48rem) {

    header {
        padding-left: var(--space-md);
    }

    nav {
        max-width: 100%;
    }

    nav ul {
        max-width: var(--width-sm);
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        display: flex;
    }

    .nav li {
        display: block;
        font-size: var(--text-sm);
        flex: 1 1 auto;
        border-bottom: 0;
    }

    .nav a {
        text-align: center;
    }

    .nav li:first-child {
        display: none;
    }

    nav a:hover {
        border-bottom: 2px solid var(--color-primary-lighter);
    }

    ul.no-border a:hover {
        border-bottom: 0;
    }

    nav a.active {
        border-bottom: 2px solid var(--color-accent);
    }

    .main-col-left {
        grid-column: span 7;
        border-right: .1rem solid var(--color-contrast-low);
    }

    .main-col-right {
        grid-column: span 5;
    }

    .card-grid section {
        display: flex;
        grid-column: span 12;
    }

    .card-grid section div {
        flex: 1 1 50%;
    }

    .card-grid section:nth-child(2) {
        flex-direction: row-reverse;
    }

    .card-grid section:nth-child(2) div:nth-child(1) {
        padding-left: var(--space-md);
    }
}